# Dependencies
node_modules
.pnp
.pnp.js
design
# Build
dist
build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System
.DS_Store
*.pem
ui_screenshots

# iOS - ignore entire platform folder
ios/

# Track iOS assets in separate folder
!assets/ios/

# Android - ignore entire platform folder
android/

# Track Android assets in separate folder
!assets/android/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.env.production
package-lock.json
src/assets/